{% extends "index.html" %}
{% block content %}
<h1>Busca tu Club</h1>
<form action="clubes" method="get">
    <fieldset>
        <legend>Busqueda</legend>
        <div class="row responsive-label">
        <div class="col-sm-12 col-md-3">
        <label for="nomb">Nombre</label>
        </div>
        <div class="col-sm-12 col-md">
        <input type="text" value="{{ nombre }}" id="nomb" name="nombre" style="width:85%;">
        </div>
        </div>
        <div class="row responsive-label">
        <div class="col-sm-12 col-md-3">
        <label for="select">Barrio</label>
        </div>
        <div class="col-sm-12 col-md">
        <select id="select" name="barrio">
            {% for barr in opbarrios %} <option {% if barr==barrio %} selected="selected" {% endif %} > {{ barr }} </option> {% endfor %}
        </select>
        </div>
        </div>
        <div class="row responsive-label">
        <div class="col-sm-12 col-md-3">
        <label for="activs">Actividades</label>
        </div>
        <div class="col-sm-12 col-md">
        <input type="text" value="{{ actividades }}" id="activs" name="actividades" style="width:85%;">
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12 col-md col-md-offset-5">
        <input type="submit" id="subm" value="Buscar" style="width:20%;">
        </div>
        </div>
    </fieldset>
</form>
<div id="ipage" class="container">
<div id="iclubes" style="border-style:double">
    <div class="row">
    <ul>
    {% for club in clubes %}
    <div class="col-sm">
    <li> <a href="clubes/{{ club.id }}">{{ club.nombre }}</a> </li>
    </div>
    {% endfor %}
    </ul>
    </div>
</div>
</div>
<div id="ipage" class="container">
<div class="row">
<div class="col-sm-1">
<a href="clubes?{{ querystring }}&p={{ 0 }}"> Primera </a>
</div>
{% for pag in range(quepagina-2, quepagina+3) %} 
{% if pag >= 0 and pag <= paginas %}
<div class="col-sm-1">
{% if pag != quepagina %}
<a href="clubes?{{ querystring }}&p={{ pag }}"> {{ pag+1 }}</a>
{% else %}
<strong>[{{ pag+1 }}]</strong>
{% endif %}
</div>
{% endif %}
{% endfor %}
<div class="col-sm-1">
<a href="clubes?{{ querystring }}&p={{ paginas }}"> Ultima </a>
</div>
</div>
{% endblock %}
